body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    padding: 0;
    background-color: #f8f8f8;
    font-size: large;
   
    
}


.menu-container {
    border: 1px solid black;
    padding-left: 40px;
    margin: 30px;
    color: black;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  

    
}

 h2 {
    color: #ffffff;
}

.food-image {
    width: 400px;
    height: 300px;
    margin-right: 20px;
}

ul {
    
    margin-left: 20px;
}

li {
    margin-bottom: 8px;
}




li,ul {
    padding-left: 10px;
}

table{
    width: 200px;
    border: 1px solid blue;
}
img{
    border-radius: 30px;
    box-shadow: balck;
}
h4{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: flex;
}
p{
    color: rgb(138, 3, 3);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: flex;
}
td{
    border: 1px solid blue;
}